

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
/* removes default style*/
input{
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}

body{
    background-color: rgb(229, 227, 227);
    display: flex;
}

#img-div{
    height: 100vh;
    width: 33%;
    display: inline-block;
    background-image: url(https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}
#logo-bg{
    width: 100%;
    height: 150px;
    margin-top: calc(35vh - 150px);
    background-color: rgba(0,0,0,0.5);
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: clamp(1.5rem, 6vw, 3rem);
    font-family: logotext;
}
#logo-bg > img{
    height: 130px;
}
#logo-bg > h1{
    margin-top: 1.3rem;
}
#leaf-img{
    object-fit: cover;
}
#form-background{
    width: 67%;
    height: 100vh;
    font-family: sans-serif;
}
#form-space{
    width: 100%;
    height: 30vh;
    background-color: white;
    box-shadow: 0px 1px 11px 0px rgba(0,0,0,0.81);
    padding-left: 3rem;
    padding-top: 1rem;
    color: #333;
}
#form-space > div{
    width: 33%;
    display: inline-block;
    margin: 0.4rem;
    color: #666;
    font-size: 0.8rem;
}
#top-space, #bottom-space{
    height: 35vh;
}
#top-space > p{
    font-size: clamp(1rem, 2.5vw, 1.3rem);
    font-weight: 400;
    color: #333;
}
#top-space{
    padding: 3rem;
    padding-top: 6rem;
}
#top-space > p:last-child{
    margin-top: 1rem;
}
input{
    width: 100%;
    height: 1.8rem;
    border-radius: 3px;
    display: block;
    padding: 0.2rem;
    border: 1px solid #aaa;
}
input:focus{
    box-shadow: 0px 5px 15px -6px #000000;
    border: 1px solid blue;
}
button[type="submit"]{
    width: 200px;
    height: 3rem;
    background-color: darkolivegreen;
    border-radius: 10px;  
    margin-bottom: 1rem; 
    color: white;
    border: none;
}
#bottom-space{
    padding-left: 3rem;
    padding-top: 2rem;
}
#bottom-space > p > a{
    color: darkolivegreen;
    text-decoration: none;
    font-weight: bold;
}

@font-face {
    font-family: logotext;
    src: url("Norse-Bold.otf") format("opentype");
}
